<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KNODIS Research Grou</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header>
    <div class="logotitle">
      <img src="knodis-logo-vector_horizontal_n.png" alt="KNODIS logo"/>
    </div>
    <input type="checkbox" id="menu-toggle"/>
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <nav>
      <ul>
        <li><a href="#about-knodis">About</a></li>
        <li><a href="#members">Members</a></li>
        <li><a href="#recent-publications-last-5-years">Publications</a></li>
        <li><a href="#active-research-projects">Projects</a></li>
        <li><a href="#thesis">Thesis</a></li>
        <li><a href="#research-resources">Resources</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    {{ content }}
  </main>

<footer>
  <p>2025 KNODIS Research Group. Universidad Politécnica de Madrid.</p>
  <img src="upm_noback_white.png" alt="UPM logo"/>
</footer>
<a href="#" class="back-to-top" aria-label="Back to top">
  <i class="fas fa-arrow-up"></i>
</a>
</body>
</html>
